<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<!-- >>> favicon >>> -->
<link rel="apple-touch-icon" sizes="57x57" href="res/favicon/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="res/favicon/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="res/favicon/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="res/favicon/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="res/favicon/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="res/favicon/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="res/favicon/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="res/favicon/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="res/favicon/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="res/favicon/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="res/favicon/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="res/favicon/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="res/favicon/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="res/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="res/favicon/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">
<link rel="shortcut icon" href="res/favicon/favicon.ico">
<meta name="apple-mobile-web-app-title" content="Roadtrip für Ergo Therapie Hofmann">
<meta name="application-name" content="Roadtrip für Ergo Therapie Hofmann">
<meta name="msapplication-config" content="res/favicon/browserconfig.xml">
<!-- <<< favicon <<< -->
